<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <h2 class="col-4 offset-4">Login On ReliefSigh</h2>
        <div class="col-4 offset-4" >
            <br><br>
            
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" 
                    class="form-label">Username</label>
                    <input 
                    id="username"
                    name="username" 
                    class="form-control" 
                    type="text" 
                    required>
                </div>

                <div class="mb-3">
                    <label for="password" 
                    class="form-label">Password</label>
                    <input 
                    id="password"
                    name="password" 
                    class="form-control" 
                    type="password" 
                    required>
                    
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</body>